lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log
public/dist/qNinja.css
public/dist/qNinja.js
public/dist/qNinja.min.css
public/dist/qNinja.min.js
public/index.html